<!DOCTYPE html>
<html>
<head>
    <style>
        html {
            margin: 0px;
            height: 100%;
            width: 100%;            
        }
        body {
            background-image: url('../images/vbbig.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin: 0px;
            min-height: 100%;
            width: 100%;
            background-color: #FFB600;
            background-position: center center;
        }
    </style>
</head>
<body >
    &nbsp;
    
</body>
</html>

