@{
    ViewBag.Title = "Team Registration";
}

<h2>Your registration is successful. </h2>

<h3>SWIFBAC will contact you in the next couple of days to confirm your registration.</h3>
<h3>Please check our <a href="https://www.facebook.com/profile.php?id=100014064618010"> Facebook page </a> occasionally for new updates.</h3>
<br />
<br />
<br />
<h3>
    <a href="../admin/index"><u>Go back to the main page</u></a>
</h3>

<br />
<br />