@{
    ViewBag.Title = "Schedule Update";
}

<h3>Schedules are successfully created/updated!</h3>
<br />

<a href='/schedule/Create?week=@ViewBag.TargetWeek'>Review the schedules again</a>
<br />
<br />
